*.dll
*.vspscc
*.vssscc
*.publishproj
*.dbml
*.refactoring
*.pdb
*.error
*.dgml
*.jfm

bin/
obj/
bin-release/
bin-debug/
/packages/*
/.vs/SalesManagement/v15/Server/sqlite3/storage.ide-wal
/.vs/SalesManagement/v15/Server/sqlite3/storage.ide-shm
/.vs/SalesManagement/v15/Server/sqlite3/storage.ide
/.vs/SalesManagement/v15/Server/sqlite3/db.lock
